<style>
  @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@400;500&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
  body {
    font-family: 'Mukta Vaani', Helvetica, Arial, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
    font-size: 18px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #222;
  }

  a {
    color: #cc6600;
  }

  .title {
    font-family: 'Mukta Vaani', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-decoration: none;
    border: 0;
    text-align: center;
  }

  .title span {
    font-weight: 400;
  }

  header h2 {
  margin-block-end: 0;
  margin-block-start: 0;
  }

  nav {
    text-align: center;
  }
  nav a {
    margin-right: 10px;
    text-decoration: none;
    font-size: larger;
  }

  nav a:hover  {
    border-bottom: 1px dotted black;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  img.avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	display: block;
	margin-top: 30px;
	margin-right: auto;
	margin-left: auto;
  }

  @media screen and (max-width: 440px) {
    img.avatar {
      width: 40%;
      height: 40%;
      border-radius: 50%;
      display: block;
      margin-top: 30px;
      margin-right: auto;
      margin-left: auto;
    }
  }
  code {
    padding: 2px 5px;
    background-color: #f2f2f2;
  }

  pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
    overflow-x: auto;
  }

  div.highlight pre {
    background-color: initial;
    color: initial;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: #008caf;
  }

  @media (prefers-color-scheme: dark) {
    body {
      background-color: #333;
      color: #ddd;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #eee;
    }

    a {
      color: #eb780c;
    }

    code {
      background-color: #777;
    }

    pre code {
      color: #ddd;
    }

    blockquote {
      color: #ccc;
    }

    textarea,
    input {
      background-color: #252525;
      color: #ddd;
    }

    .helptext {
      color: #aaa;
    }
  }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.light-caption {
  font-size: small;
}
</style>
